// RESETS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  background: #777;
}

#root {
  display: flex;
  flex-direction: column;
}

// GLOBAL CLASSES
.text-center {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #555;
  color: #fff;
  padding: 8px 5%;

  div.logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
      width: 50px;
      margin-right: 15px;
      border-radius: 10px;
    }

    h3 {
      font-weight: 400;
    }
  }

  nav {
    a {
      color: #fff;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 8px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Hero Section
section.hero {
  display: flex;
  background: #0E0E0E;
  div.image {
    background-image: url('/images/me_reversed.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 50%;
  }

  div.hero-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    h4 {
      font-size: 2.2rem;
    }
    p {
      font-weight: 300;
    }
  }
}

// Work Section
main {
  padding: 15px 3%;
  color: #fff;
  flex: 1;
  h4 {
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
  }

  section.work-output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    article {
      padding: 15px;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      h5 {
        margin-bottom: 7px;
      }

      p {
        font-size: .8rem;
        line-height: 1.3;
      }
    }
  }
}

// Contact Section
form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto 25px;

  > * {
    padding: 7px 12px;
    margin-bottom: 5px;
    border: none;
  }

  h3 {
    color: #fff;
  }

  p.message {
    color: #82fe84;
  }

  input, textarea {
    outline: none;
    background: #444;
    border-radius: 3px;
    color: #fff;
    &::placeholder {
      color: #aaa;
    }
  }

  button {
    background: none;
    color: #fff;
    border: 2px solid #eee;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background: #eee;
      color: #444;
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 5%;
  background: #878787;
  color: #ccc;
}